body {
  margin: 0;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

label {
  font-weight: 200;
}

pre {
  margin: 0;
}

code {
  overflow-x: scroll;
}

pre, code {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    line-height: 1.2;
}

textarea {
  height: 100px;
}

.header {
  padding: 16px 32px;
  background-color: #0ead9e;
  color: #fff;
}

.footer {
  height: 32px;
  padding: 0 32px;
  border-top: 1px solid #ccc;
}

.wrapper {
  padding: 0 16px;
}

.col {
  width: calc(100vw - 64px);
  min-width: 400px;
  padding: 16px;
}

.u-full-width {
  max-width: 100%;
}

@media all and (min-width: 900px) {
  .wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
  }
  .col {
      min-height: calc(100vh - 56px - 64px);
  }
}